@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  color: black; }

a {
  text-decoration: none; }

.bigText {
  font-size: 80px; }

.smallText {
  font-size: 30px;
  padding: 2% 0; }

.pinkText {
  color: #ff7fb1; }

.whiteText {
  color: white; }

.textSytle {
  font-weight: bolder;
  text-align: center; }

.header {
  background-color: white; }
  .header .navbar .logoHeader {
    width: 150px; }
  .header .navbar .navbar-nav {
    transform: translateX(-15%); }
  .header .navbar li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    position: relative; }
    .header .navbar li::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #ff7fb1;
      border-radius: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: 0.25s ease; }
    .header .navbar li:hover::after {
      transform: scaleX(1.01); }

.nombreBackground {
  opacity: 0.7;
  background-image: radial-gradient(#ff7fb1 0.5px, #EAF6F6 0.5px); }

.cardStyle {
  filter: drop-shadow(5px 5px 5px #cecece); }
  .cardStyle .cardText {
    text-align: center; }
  .cardStyle .cardButton {
    padding: 2% 10%;
    margin: 4% 0; }

.styleButton {
  border-radius: 8px;
  border: 2px solid #ff7fb1;
  background-color: transparent;
  position: relative;
  z-index: 5;
  transition: 1s all ease; }
  .styleButton::before {
    background: #ff7fb1;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 0%;
    height: 100%; }
  .styleButton:hover::before {
    width: 100%; }

.nosotros {
  background-color: #FBF8F1; }

.pSections {
  text-align: center; }

.paragrahAndButton {
  margin: 2% 0;
  padding: 2% 4%; }

.recetas {
  background-image: url(../images/croissant.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .recetas .paragrahAndButton2 {
    padding: 1% 2%; }

.contactoInicio {
  background-color: #EAF6F6; }

.formSection {
  background-color: #EAF6F6; }

.footer {
  background-color: #3a3b3c; }
  .footer .logoFooter {
    width: 150px; }
  .footer .pFooter, .footer .h6Footer {
    color: #EAF6F6; }
  .footer .h6Footer {
    font-weight: bolder; }
  .footer .iconInstagram, .footer .iconWhatsapp {
    color: pink;
    font-size: 25px;
    padding: 10px 5px; }
  .footer .iconWhatsapp {
    color: green; }
  .footer .copy {
    border-top: black dotted 1px;
    padding-top: 1%;
    margin-bottom: 0; }

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header .navbar .logoHeader {
    max-width: 50%;
    width: 180px;
    margin: 3% 0; }
  .header .navbar .navbar-nav {
    transform: translateX(0%) !important;
    flex-direction: column;
    align-items: center; }
  .smallText {
    font-size: 25px; }
  .bigText {
    font-size: 50px; }
  .recetas {
    background-image: url(../images/croissant.jpg);
    background-repeat: no-repeat;
    background-size: cover; } }

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header .navbar .navbar-nav {
    transform: translateX(0%) !important;
    flex-direction: column;
    align-items: center; } }
