@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    color: black;
}

.bigText {
    font-size: $text-big;
}

.smallText {
    font-size: $text-small;
    padding: $text-small-padding;
}

.pinkText {
    color: $color-pink;

}

.whiteText {
    color: $color-white;
}

.textSytle {
    font-weight: $text-bolder;
    text-align: $text-centered;
}