/* Mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;

        .navbar {
            .logoHeader {
                max-width: 50%;
                margin: 3% 0;
            }

            .navbar-nav {
                transform: translateX(0%) !important;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .smallText {
        font-size: 25px;
        padding: 2% 0;
    }

    .bigText {
        font-size: 50px;
        text-align: center;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        flex-direction: column;
        align-items: center;

        .navbar {

            .navbar-nav {
                transform: translateX(0%) !important;
            }

        }

        ul {
            flex-direction: column;
            align-items: center;
        }
    }
}