// Colores
$color-white: white;
$color-pink: #ff7fb1; 
$color-beige: #FBF8F1; 
$color-lightblue: #EAF6F6;

// Texto
$text-centered: center; 
$text-bolder: bolder;
$text-small: 30px; 
$text-small-padding: 2% 0; 
$text-big: 80px; 