@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    color: black;
}

/* Layout */
.gridContainer{
    display: grid;
    grid-template-areas: 
                        "header"
                        "mainInicio"
                        "footer";
    grid-template-rows: auto 120% 8%;
}

header{
    grid-area: header;
    display: flex;
}

.gridMainInicio{
    grid-area: mainInicio;
    display: grid;
    grid-template-areas: 
                        "nombre"
                        "nuestrosProductos"
                        "productos"
                        "nosotros"
                        "recetas"
                        "contacto";
    grid-template-rows: 20% 1% auto auto 20% auto;
}

.nombre{
    grid-area: nombre;
}

.nuestrosProductos{
    grid-area: nuestrosProductos;
}

.productos{
    grid-area: productos;
}

.nosotros{
    grid-area: nosotros;
}

.recetas{
    grid-area: recetas;
}

.contacto{
    grid-area: contacto;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3a3b3c;
}

/* Header y Nav */
.logoHeader{
    max-width: 15%;
    margin: 1%;
}

nav{
    display: flex;
    width: 100%;
    margin-left: -27%;
    justify-content: center; 
    align-items: center;
}

ul, .inicioImageAndText{
    display: flex;
}

li{
    list-style-type: none;
    margin: 0 8%;
}

a{
    text-decoration: none;
} 

/* Footer */
.logoFooter{
    max-width: 150px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}

/* Texto y Títulos */
.bigTitle{
    font-size: 80px;
}

.pinkHeading{
    color: #ff7fb1;
}

.whiteText{
    color: white;
}

.lighBlueText{
    color: #EAF6F6;
}

.centered{
    text-align: center;
}

.bolderText{
    font-weight: bolder;
}

.smallTitle1{
    font-size: 30px;
    padding: 2% 0;
}

.smallTitle2{
    font-size: 32px;
}

.paddingParagraph{
    padding-top: 1%;
    padding-bottom: 3%;
}

.nameHeading{
    margin-top: 3%;
    margin-bottom: 6%;
}

/* Card */
.cardStyle{
    border: solid 1px black;
    filter: drop-shadow(5px 5px 5px #cecece);
    background-color: white;
}

/* Background color */
.blueAndDotsBackground{
    opacity: 0.7;
    background-image: radial-gradient(#ff7fb1 0.5px, #EAF6F6 0.5px);
} 

.beigeBackground{
    background-color: #FBF8F1;
}

.lightBlueBackground{
    background-color: #EAF6F6;
}

/* Button and Icons */
.styleButton{
    background-color: #ff7fb1;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
}

.cardButton{
    padding: 2% 10%;
    margin: 4% 0;
}

.paragrahAndButton{
    margin: 2% 0;
    padding: 2% 4%; 
}

.paragrahAndButton2{
    padding: 1% 2%; 
}

.footerButton{
    width: 100px; 
    padding: 5px 5px;
    margin: 0 10px;
}

.iconsSize{
    font-size: 25px;
    padding: 10px 5px;
}

/* INICIO */ 
.titleAndBackground{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardInicioContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2%;
}

.cardImages{
    width: 90%;
    margin: 5% 20%;
}

.cardInicio{
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

.inicioImages{
    width: 50%;
    padding: 4%;
}

.headingAndParagraph, .footerIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicioRecetas{
    background-image: url(../images/croissant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PRODUCTOS Y RECETAS */
.gridContainerRecetasAndProductos{
    display: grid;
    grid-template-areas: 
                        "header"
                        "recetasAndProductos"
                        "footer";
    grid-template-rows: auto auto 12%;
}

.gridRecetasAndProductos{
    grid-area: recetasAndProductos;
}

.sectionRecetasAndProductos{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.productosAndRecetasImages{
    width: 90%;
    padding: 2%;
}

.recetaAndProductoContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NOSOTROS */
.gridContainerNosotros{
    display: grid;
    grid-template-areas: 
                        "header"
                        "gridNosotros"
                        "footer";
    grid-template-rows: auto auto 12%;
}

.gridNosotros{
    grid-area: gridNosotros;
}

.nosotrosImages{
    width: 35%;
    padding: 2%;
}

.nosotrosSection1Container{
    display: flex;
    align-items: center;
}

.nosotrosImages2{
    width: 50%;
}

.nosotrosImages3{
    width: 100%;
}

.cardNosotros{
    padding: 20px 28px;
    max-width: 358px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 4%;
}

.headingCardNosotros{
    margin-top: 5%;
    margin-bottom: 2%;
} 

.equipoContainer{
    display: flex;
    justify-content: space-evenly;
}

/* CONTACTO */
.gridContainerContacto{
    display: grid;
    grid-template-areas: 
                        "header"
                        "gridContacto"
                        "footer";
    grid-template-rows: auto auto 12%;
}

.gridContacto{
    grid-area: gridContacto;
}

.formImage{
    width: 50%;
    padding: 5%;
}

.formAndImageContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.labelAndInputContainer{
    display: flex;
    flex-direction: column;
}

.formContainer, .iconsContacto, .nosotrosImagesSection2{
    display: flex;
}

.formInput, .textareaStyle{    
    line-height: 35px;
    border-radius: 10px;
    padding: 0 5px;
    width: 198px; 
    border: solid 1px #cecece;
}

.formText{
    margin-right: 21.5%;
    margin-bottom: 4%;
}

.textareaStyle{
    width: 500px;
    height: 220px;
    padding: 10px;
    resize: none;
}

.formButton{
    margin: 4% 33%;
    padding: 2% 15%;
}

.infoContactoContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
}

.infoDeContactoText{
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.flexColumnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redesText{
    padding: 5% 0;
    size: 20px;
}

/* RESPONSIVE */

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 480px){
    /* Layout */
    .gridContainer, .gridMainInicio, .gridRecetasAndProductos,.gridContainerRecetasAndProductos, .gridContainerNosotros, .gridContainerContacto{
        grid-template-rows: auto;
    }

    .logoHeader{
        max-width: 50%;
        margin: 3% 0;
    }

    nav{
        margin: 0;
    }

    header, footer, ul, .inicioImageAndText, .cardInicioContainer, .cardInicio, .nosotrosSection1Container, .nosotrosImagesSection2, .formAndImageContainer, .infoContactoContainer, .equipoContainer{
        flex-direction: column;
        align-items: center;
    }

    li{
        margin: 10% 0;
    }

    a, .h3Inicio{
        font-size: 20px;
    }

    .itemsFooter{
        margin: 5% 0;
    }

    /* Content */
    .titleAndBackground{
        padding: 4% 0;
    }

    .cardInicioContainer{
        margin: 4%;
    }
    
    .cardImages{
        width: 85%;
        margin: 5% 20%;
    }
    
    .cardInicio{
        width: 90%;
    }

    .h3Inicio{
        padding: 2% 0;
    }

    .cardButton{
        padding: 2% 10%;
        margin: 4% 0;
    }

    .buttonTextSize{
        font-size: 15px;
    }

    .smallTitle1{
        font-size: 25px;
        padding: 2% 0;
    }

    .bigTitle{
        font-size: 50px;
        text-align: center;
    }

    .inicioImages, .nosotrosImages, .nosotrosImages2, .recetaAndProductoContainer{
        width: 100%;
        padding: 0;
    }

    .paragrahAndButton,.paragrahAndButton2{
        padding: 2% 4%;
        margin: 4% 0;
    }

    /* PRODUCTOS Y RECETAS */
    .productosAndRecetasImages{
        width: 84%;
        padding: 0;
    }

    .pProductosAndRecetas, .pNosotros{
        margin: 4%;
    }

    .smallTitle2{
        margin-top: 8%;
    }

    .nameHeading{
        text-align: center;
        font-size: 18px;
        margin-bottom: 10%;
    }

    /* NOSOTROS */
    .cardNosotros{
        width: 80%;
        padding: 5%;
        margin: 5% 0;
    }

    .nosotrosImages3, .mapSize, .formImage{
        width: 100%;
    }

    /* CONTACTO */
    .textareaStyle{
        width: 250px;
    }

    .formInput{
        width: 242px;
    }

    .formContainer{
        flex-direction: column;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    /* INICIO */

    /* Layout */
    .gridContainer{
        grid-template-rows: auto 95% auto;
    }

    .gridMainInicio{
        grid-template-rows: 15% 1% auto auto 15% auto;
    }

    /* Content */
    .logoHeader{
        max-width: 25%;
        margin: 3% 0;
    }

    nav{
        margin: 0;
    }

    header, footer, ul, .inicioImageAndText, .cardInicio{
        flex-direction: column;
        align-items: center;
    }

    li{
        margin: 10% 0;
    }

    a, .h3Inicio{
        font-size: 20px;
    }

    /* Main */
    .cardInicioContainer{
        margin: 4%;
    }
    
    .cardImages{
        width: 86%;
    }
    
    .cardInicio{
        width: 44%;
    }

    .inicioImages{
        width: 100%;
        padding: 0;
    }

    .paragrahAndButton{
        padding: 1% 2%;
        margin: 4% 0;
    }

    /* PRODUCTOS Y RECETAS */

    /* Layout */
    .gridContainerRecetasAndProductos, .gridContainerNosotros, .gridContainerContacto{
        grid-template-rows: auto;
    }
    
    /* Content */
    .productosAndRecetasImages{
        width: 84%;
        padding: 0;
    }

    .pProductosAndRecetas{
        margin-top: 1%;
        margin-bottom: 4%;
    }

    .smallTitle2{
        margin-top: 5%;
    }

    .nameHeading{
        text-align: center;
        font-size: 18px;
        margin-bottom: 10%;
    }

    .recetaAndProductoContainer{
        width: 45%;
        display: flex;
    }
    
    .itemsFooter{
        margin: 2% 0;
    }

    /* NOSOTROS */
    .equipoContainer{
        display: flex;
        flex-wrap: wrap;
    }

    .cardNosotros{
        width: 300px;
    }

    /* CONTACTO */
    .textareaStyle{
        width: 250px;
        height: 100px;
    }

    .formInput{
        width: 242px;
    }

    .formContainer{
        flex-direction: column;
    }
    .mapSize{
        width: 100%;
    }
    
    .formAndImageContainer{
        justify-content: center;
    }
}