@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    color: black;
}

/* Header y Nav */
.logoHeader{
    animation-duration: 20s;
    width:150px;
}
.navbar-nav{
    transform: translateX(-15%);
}

li{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    position: relative;
} 

li::after{
    content:'';
    width: 100%;
    height: 1px;
    background-color: #ff7fb1;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.25s ease;
}

li:hover::after{
    transform: scaleX(1.01);
} 

a{
    text-decoration: none;
} 

/* Footer */
.logoFooter{
    width: 150px;
}

footer{
    background-color: #3a3b3c; 
}

/* Texto y Títulos */
.bigTitle{
    font-size: 80px;
}

.pinkHeading{
    color: #ff7fb1;
}

.whiteText{
    color: white;
}

.lighBlueText{
    color: #EAF6F6;
}

.centered{
    text-align: center;
}

.bolderText{
    font-weight: bolder;
}

.smallTitle1{
    font-size: 30px;
    padding: 2% 0;
}

.smallTitle2{
    font-size: 32px;
}

.paddingParagraph{
    padding-top: 1%;
    padding-bottom: 3%;
}

.nameHeading{
    margin-top: 3%;
    margin-bottom: 6%;
}

/* Card */
.cardStyle{
    filter: drop-shadow(5px 5px 5px #cecece);
}

/* Background color */
.blueAndDotsBackground{
    opacity: 0.7;
    background-image: radial-gradient(#ff7fb1 0.5px, #EAF6F6 0.5px);
} 

.beigeBackground{
    background-color: #FBF8F1;
}

.lightBlueBackground{
    background-color: #EAF6F6;
}

/* Button and Icons */
.styleButton{
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #ff7fb1;
    background-color: transparent;
    position: relative;
    z-index: 5;
    transition: 1s all ease;
}

.styleButton::before{
    background: #ff7fb1;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.styleButton::before{
    width: 0%;
    height: 100%;
}

.styleButton:hover::before{
    width: 100%;
}

.cardButton{
    padding: 2% 10%;
    margin: 4% 0;
}

.paragrahAndButton{
    margin: 2% 0;
    padding: 2% 4%; 
}

.paragrahAndButton2{
    padding: 1% 2%; 
}

.iconsSize{
    font-size: 25px;
    padding: 10px 5px;
    animation: infinite;
}

/* INICIO */ 
.inicioRecetas{
    background-image: url(../images/croissant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mapSize{
    width: 110%;
}

/* PRODUCTOS Y RECETAS */
.productosAndRecetasImages{
    width: 90%;
    margin-bottom: 15%;
}

.flipCard{
    display: inline-block;
    text-align: center; 
    overflow: hidden;
}

.flipCard img{
    transition: all .5s ease;
}

.flipCardImage{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.flipCardText{
    color: black;
    font-size: 1.4em;
    z-index: 5;
    opacity: 0;
    transition: all .5s ease;
    position: absolute;
}

.flipCardImage:active img, .flipCardImage:hover img{
    opacity: 0.6;
    filter: blur(5px);
    transform: scale(1.15);
}

.flipCardImage:active .flipCardText, .flipCardImage:hover .flipCardText{
    opacity: 1;
    transition: all 1.5s ease;
}

/* NOSOTROS */
.carousel-inner .carousel-item {
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
}

.headingCardNosotros{
    margin-top: 5%;
    margin-bottom: 2%;
} 

/* CONTACTO */
.formButton{
    margin: 4% 33%;
    padding: 2% 15%;
}

.infoDeContactoText{
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 18px;
}

.redesText{
    padding-top: 5%;
}

.copy{
    border-top: black dotted 1px;
    padding-top: 1%;
    margin-bottom: 0;
}

/* RESPONSIVE */

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 480px){
    .logoHeader{
        max-width: 50%;
        margin: 3% 0;
    }

    .navbar-nav{
        transform: translateX(0%);
    }
    
    header, ul{
        flex-direction: column;
        align-items: center;
    }

    .smallTitle1{
        font-size: 25px;
        padding: 2% 0;
    }

    .bigTitle{
        font-size: 50px;
        text-align: center;
    }

    /* PRODUCTOS Y RECETAS */
    .smallTitle2{
        margin-top: 8%;
    }

    /* NOSOTROS */
    .pNosotros{
        margin: 4% 2%;
    }

    /* CONTACTO */
    .mapSize, .formImage{
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .navbar-nav{
        transform: translateX(0%);
    }

    header, ul{
        flex-direction: column;
        align-items: center;
    }

    .pProductosAndRecetas{
        margin-top: 1%;
        margin-bottom: 4%;
    }

    .smallTitle2{
        margin-top: 5%;
    }
    
    /* CONTACTO */
    .mapSize{
        width: 100%;
    }
}