// Main
.nombreBackground {
    opacity: 0.7;
    background-image: radial-gradient($color-pink 0.5px, $color-lightblue 0.5px);
}

.cardStyle {
    filter: drop-shadow(5px 5px 5px #cecece);

    .cardText {
        text-align: map-get($text-style, centered-text);
    }

    .cardButton {
        padding: 8% 15%;
        margin: 13% 0;
        width: 105px;
    }
}

.styleButton {
    border-radius: $border-radius-8;
    border: 2px solid $color-pink;
    background-color: transparent;
    position: relative;
    z-index: 5;
    transition: 1s all ease;

    &::before {
        background: $color-pink;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: all 0.6s ease;
        width: 0%;
        height: 100%;
    }

    &:hover::before {
        width: 100%;
    }
}

.nosotros {
    background-color: $color-beige;
}

.pSections {
    text-align: map-get($text-style, centered-text);
}

.paragrahAndButton {
    margin: 2% 0;
    padding: 8% 4%;
    width: 120px;
}

.recetas {
    background-image: url(../images/croissant-1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .paragrahAndButton2 {
        padding: 10% 2%;
        width: 120px;
    }
}

.contactoInicio {
    background-color: $color-lightblue;
}