@mixin flex-column-center {
    flex-direction: column;
    align-items: center;
}

@mixin flip-card-image {
    opacity: 0.6;
    filter: blur(5px);
    transform: scale(1.15);
}

@mixin flip-card-text {
    opacity: 1;
    transition: all 1.5s ease;
}

@mixin image-mq {
    height: auto;
    width: auto;
}