// Colores
$color-white: white;
$color-pink: #ff7fb1;
$color-beige: #FBF8F1;
$color-lightblue: #EAF6F6;
$color-black: black;
$color-babypink: pink;
$color-green: green;

// Texto
$text-small-padding: 2% 0;
$font-error: 'Righteous', cursive;
$font-size-error: 3rem;
$margin-error: 2rem; 
$width-height-100: 100%;

// Otros estilos
$border-radius-8: 8px;