.footerStyle {
    background-color: #3a3b3c;

    .logoFooter {
        width: 150px;
    }

    .pFooter {
        color: $color-lightblue;
    }

    .h4Footer {
        @extend .pFooter;
        font-size: 16px;
        font-weight: map-get($text-style, bolder-text);
    }

    .iconInstagram {
        color: $color-babypink;
        font-size: 25px;
        padding: 10px 5px;

        &:hover {
            color: $color-lightblue;
            transition: 300ms linear;
        }
    }

    .iconWhatsapp {
        @extend .iconInstagram;
        color: $color-green;
    }

    .copy {
        border-top: $color-black dotted 1px;
        padding-top: 1%;
        margin-bottom: 0;
    }
}