.headerStyle {
    background-color: $color-white;

    .navbar {
        .logoHeader {
            width: 150px;
        }

        .navbar-nav {
            transform: translateX(-15%);
        }

        li {
            display: inline-block;
            text-decoration: none;
            list-style-type: none;
            position: relative;

            &::after {
                content: '';
                width: $width-height-100;
                height: 1px;
                background-color: $color-pink;
                border-radius: 4px;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transform-origin: left;
                transition: 0.25s ease;
            }

            &:hover::after {
                transform: scaleX(1.01);
            }

            a {
                color: $color-black;
            }
        }
    }
}